<section id="register">
  <div class="app-form">
    <div class="row">
      <div class="col-md-5">
        <h1 class="page-title pb-2">Register</h1>
        <form
        #registrationForm="ngForm"
            [matchValidator]="['password', 'passwordConfirmation']"
        >
          <!-- <div class="form-group">
              <label for="username">Username</label>
              <input type="text"
                     class="form-control"
                     id="username"> -->
          <!-- <div class="alert alert-danger">
                <div *ngIf="username.errors.required">
                  Username is required.
                </div>
              </div> -->
          <!-- </div> -->

          <label for="username" class="label-group">
            <input
              [(ngModel)]="registerFormData.username"
              name="username"
              type="text"
              class="input-control"
              id="username"
              required
            />
            <span>Username</span>
            <span class="border"></span>
          </label>

          <label for="email" class="label-group">
            <input
              [(ngModel)]="registerFormData.email"   
              #email="ngModel"          
              forbiddenEmail="quan612@yahoo.com"
              name="email"
              type="text"
              class="input-control"
              id="email"
              required
            />
            <span>Email</span>
            <span class="border"></span>
          </label>

          <div
            *ngIf="email.invalid && !email.pristine"
            class="alert alert-danger"
          >
            <div *ngIf="email.errors.forbiddenEmail">
              This email is forbidden.
            </div>
          </div>
          
          <label for="password" class="label-group">
            <input
              [(ngModel)]="registerFormData.password"
              #password="ngModel"
              name="password"
              type="password"
              class="input-control"
              required
            />
            <span>Password</span>
            <span class="border"></span>
          </label>

          <label for="passwordConfirmation" class="label-group">
            <input
              [(ngModel)]="registerFormData.passwordConfirmation"
              #passwordConfirmation="ngModel"
              name="passwordConfirmation"
              type="password"
              class="input-control"
              required
            />
            <span>Confirm Password</span>
            <span class="border"></span>
          </label>

          <div
            *ngIf="registrationForm.errors?.matchValidator && !passwordConfirmation.pristine"
            class="alert alert-danger"
          >            
              Password is not match.            
          </div>

          <!-- <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email">
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password">
                    </div>

                    <div class="form-group">
                        <label for="passwordConfirmation">Confirm Password</label>
                        <input type="password" class="form-control" id="passwordConfirmation">
                    </div> -->
          <button (click)="register()" type="submit" class="btn main-btn">
            Submit
          </button>
        </form>
        <!-- <div class="alert alert-danger">
            <p *ngFor="let error of errors">
              {{error.detail}}
            </p>
          </div> -->
      </div>
      <div class="col-md-6 ml-auto">
        <div class="image-container">
          <h2 class="catchphrase">Registering for rental booking</h2>
          <img src="assets/images/bg-01.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
